/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors
   */

  --rich-black-fogra-29_95: hsla(222, 18%, 11%, 0.95);
  --raisin-black-1: hsl(0, 0%, 16%);
  --raisin-black-2: hsl(236, 17%, 17%);
  --raisin-black-3: hsl(280, 11%, 11%);
  --raisin-black-4: hsl(280, 8%, 15%);
  --english-violet: hsl(274, 21%, 23%);
  --eerie-black-1: hsl(277, 25%, 10%);
  --eerie-black-2: hsl(280, 7%, 8%);
  --roman-silver: hsl(220, 6%, 59%);
  --quick-silver: hsl(0, 1%, 65%);
  --light-gray-1: hsl(0, 0%, 80%);
  --light-gray-2: hsl(0, 2%, 82%);
  --marigold_75: hsla(42, 99%, 46%, 0.75);
  --xiketic_90: hsla(280, 37%, 8%, 0.9);
  --cultured-2: hsl(0, 0%, 97%);
  --marigold: #5182c3;
  --platinum: hsl(0, 0%, 89%);
  --dim-gray: hsl(0, 0%, 42%);
  --white_15: hsla(0, 0%, 100%, 0.15);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --xiketic: hsl(277, 25%, 10%);
  --silver: hsl(0, 0%, 78%);
  --white: hsl(0, 0%, 100%);
  --jet: hsl(236, 13%, 23%);

  /**
   * typography
   */

  --ff-oxanium: "Oxanium", cursive;
  --ff-poppins: "Poppins", sans-serif;

  --fs-1: 7rem;
  --fs-2: 4.5rem;
  --fs-3: 3.6rem;
  --fs-4: 2.4rem;
  --fs-5: 2.2rem;
  --fs-6: 2rem;
  --fs-7: 1.6rem;
  --fs-8: 1.5rem;
  --fs-9: 1.4rem;
  --fs-10: 1.3rem;
  --fs-11: 1.2rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /**
   * spacing
   */

  --section-padding: 120px;

  /**
   * gradient
   */

  --gradient: radial-gradient(circle, hsl(250, 7%, 17%), hsl(250, 11%, 11%));

  /**
   * box shadow
   */

  --shadow-1: 0px 2px 8px 0px hsla(0, 0%, 0%, 0.2),
    inset 0px 2px 8px 0px hsla(0, 0%, 0%, 0.4);
  --shadow-2: 0px 5px 10px 1px hsla(0, 0%, 0%, 0.4);
  --shadow-3: 0px 5px 10px 1px hsla(219, 98%, 17%, 0.2);
  --shadow-4: 0px 5px 10px 1px hsla(0, 0%, 0%, 0.15);

  /**
   * transition
   */

  --transition: 0.25s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
time,
input,
button,
ion-icon {
  display: block;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--raisin-black-3);
  font-size: 1.6rem;
  line-height: 1.5;
}

:focus-visible {
  outline-offset: 4px;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 15px;
}

.section {
  padding-block: var(--section-padding);
}

.h1,
.h2,
.h3 {
  color: var(--white);
  font-weight: var(--fw-800);
  line-height: 1;
}

.h1 {
  font-size: var(--fs-2);
  letter-spacing: -3px;
}

.h2 {
  font-size: var(--fs-3);
}

.h3 {
  font-size: var(--fs-6);
  text-transform: uppercase;
}

:is(.h1, .h2, .h3, .card-price) .span {
  display: inline-block;
  color: var(--marigold);
}

.btn {
  margin-inline: auto;
  color: var(--eerie-black-1);
  font-size: var(--fs-8);
  text-transform: uppercase;
  font-weight: var(--fw-700);
  min-height: 55px;
  padding-inline: 35px;
}

.skewBg {
  position: relative;
  z-index: 1;
}

.skewBg::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: skewX(var(--skewX, -16deg));
  background-color: var(--bg, var(--marigold));
  z-index: -1;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% + 8px);
  width: 5px;
  transform: skewX(-16deg) translateX(var(--translateX, 0));
  background-color: var(--marigold);
  transition: var(--transition);
}

.btn:is(:hover, :focus)::after {
  --translateX: -13px;
}

.has-scrollbar {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding-block-end: 30px;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.has-scrollbar::-webkit-scrollbar-track {
  outline: 3px solid var(--marigold);
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--marigold);
}

.has-scrollbar::-webkit-scrollbar-button {
  width: calc(25% - 40px);
}

.section-subtitle,
.section-title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.section-subtitle {
  color: var(--silver);
  font-size: var(--fs-9);
  font-weight: var(--fw-700);
  margin-block-end: 10px;
}

.section-title::after {
  content: url("../images/title-underline.png");
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.scrollbar-item {
  min-width: 100%;
  scroll-snap-align: start;
}

.card-banner {
  background-color: var(--light-gray-1);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-badge {
  min-height: 30px;
  color: var(--eerie-black-1);
  font-size: var(--fs-11);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  max-width: max-content;
  display: grid;
  align-items: center;
  padding-inline: 20px;
}

.card-badge::before {
  --skewX: -10deg;
}

.w-100 {
  width: 100%;
}

.section-text {
  color: var(--color, var(--light-gray-1));
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  max-width: 65ch;
  margin-inline: auto;
  text-align: center;
  line-height: 1.8;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header-top,
.cart-btn,
.header-bottom::before,
.navbar-link::before {
  display: none;
}

.header {
  position: relative;
  min-height: 1px;
}

.header-bottom {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  background-color: var(--raisin-black-2);
  padding-block: 20px;
  z-index: 4;
}

.header-bottom.active {
  position: fixed;
  top: -85px;
  animation: slideIn 0.5s var(--cubic-out) forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--white);
  font-size: 3rem;
  font-weight: var(--fw-800);
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-btn {
  color: var(--marigold);
  padding: 13px;
  box-shadow: var(--shadow-1);
  border-radius: 4px;
}

.search-btn ion-icon {
  --ionicon-stroke-width: 80px;
}

.nav-toggle-btn {
  color: var(--white);
  font-size: 30px;
  border: 1px solid var(--white);
  padding: 4px;
}

.nav-toggle-btn.active .menu,
.nav-toggle-btn .close {
  display: none;
}

.nav-toggle-btn .menu,
.nav-toggle-btn.active .close {
  display: block;
}

.navbar {
  background-color: var(--eerie-black-1);
  color: var(--white);
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  max-width: 350px;
  visibility: hidden;
  max-height: 0;
  transition: 0.25s var(--cubic-out);
  overflow: hidden;
}

.navbar.active {
  visibility: visible;
  max-height: 275px;
  transition-duration: 0.5s;
}

.navbar-item:not(:last-child) {
  border-block-end: 1px solid var(--white_15);
}

.navbar-link {
  padding: 10px 25px;
  transition: var(--transition);
}

.navbar-link:is(:hover, :focus) {
  background-color: var(--white_10);
}

/*-----------------------------------*\
  #SEARCH BOX
\*-----------------------------------*/

/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog {
  background-color: var(--white);
}

.blog .section-title {
  color: var(--xiketic);
}

.blog .section-text {
  color: var(--dim-gray);
  margin-block: 50px 60px;
}

.blog-list {
  display: grid;
  gap: 50px;
}

.blog-card .card-banner {
  margin-block-end: 30px;
}

.blog-card .card-meta-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.blog-card .card-meta-item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--quick-silver);
  font-size: var(--fs-11);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.blog-card .card-meta-item ion-icon {
  --ionicon-stroke-width: 50px;
  color: var(--marigold);
}

.blog-card .card-meta-item a.item-text {
  transition: var(--transition);
}

.blog-card .card-meta-item a.item-text:is(:hover, :focus) {
  color: var(--marigold);
}

.blog-card .card-title {
  color: var(--raisin-black-1);
  font-size: var(--fs-5);
  font-weight: var(--fw-800);
  text-transform: uppercase;
  line-height: 1.2;
  margin-block: 10px 15px;
  transition: var(--transition);
}

.blog-card .card-title:is(:hover, :focus) {
  color: var(--marigold);
}

.blog-card .card-text {
  color: var(--dim-gray);
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  line-height: 1.8;
  margin-block-end: 25px;
}

.blog-card .card-link {
  color: var(--raisin-black-1);
  font-size: var(--fs-9);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: var(--transition);
}

.blog-card .card-link ion-icon,
.blog-card .card-link:is(:hover, :focus) {
  color: var(--marigold);
}

/*-----------------------------------*\
  #NEWSLETTER
\*-----------------------------------*/

.newsletter {
  margin-block-end: 80px;
}

.newsletter-card {
  background-color: var(--raisin-black-3);
  padding: 40px 15px;
  margin-block-start: -55px;
  border-radius: 80px;
}

.newsletter .h2 {
  font-size: var(--fs-4);
  text-transform: uppercase;
  text-align: center;
  margin-block-end: 30px;
}

.newsletter .input-wrapper {
  max-width: 300px;
  margin-inline: auto;
  margin-block-end: 10px;
}

.newsletter .email-field {
  font-size: var(--fs-9);
  color: var(--white);
  font-weight: var(--fw-500);
  padding: 17px 45px;
  padding-inline-end: 20px;
  outline: none;
}

.newsletter .input-wrapper ion-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  color: var(--marigold);
  --ionicon-stroke-width: 50px;
}

.newsletter .input-wrapper::before {
  --bg: var(--raisin-black-4);
  --skewX: -20deg;
}

.newsletter-btn {
  font-size: var(--fs-9);
  display: flex;
  align-items: center;
  gap: 5px;
  padding-inline: 20px;
  transition: var(--transition);
}

.newsletter-btn::after {
  display: none;
}

.newsletter-btn::before {
  --skewX: -20deg;
  transition: var(--transition);
}

.newsletter-btn:is(:hover, :focus) {
  color: var(--marigold);
}

.newsletter-btn:is(:hover, :focus)::before {
  background-color: var(--white);
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  color: var(--roman-silver);
}

.footer-top {
  padding-block-end: var(--section-padding);
}

.footer-top .container {
  display: grid;
  gap: 50px;
}

.footer .logo {
  margin-block-end: 35px;
}

.footer-text,
.footer .contact-item {
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  line-height: 1.8;
}

.footer-text {
  margin-block-end: 15px;
}

.contact-item:not(:last-child) {
  margin-block-end: 10px;
}

.contact-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.contact-icon {
  margin-block-start: 3px;
  font-size: 17px;
}

.footer-list-title {
  position: relative;
  color: var(--silver);
  text-transform: uppercase;
  font-weight: var(--fw-800);
  padding-block-end: 20px;
  margin-block-end: 35px;
}

.footer-list-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: var(--marigold);
}

.footer-link {
  font-size: var(--fs-9);
  max-width: max-content;
  transition: var(--transition);
  padding-block: 8px;
  font-weight: var(--fw-500);
}

.footer-link:is(:hover, :focus) {
  color: var(--marigold);
  transform: translateX(5px);
}

.footer .social-list {
  display: flex;
  gap: 10px;
}

.footer .social-link {
  color: var(--white);
  padding: 10px;
  border-radius: 2px;
}

.footer-newsletter {
  position: relative;
}

.footer-newsletter .email-field {
  background-color: var(--raisin-black-4);
  padding: 12px 20px;
  padding-inline-end: 60px;
  font-size: var(--fs-9);
  color: var(--white);
}

.footer-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 53px;
  background-color: var(--marigold);
  color: var(--xiketic);
  display: grid;
  place-content: center;
}

.footer-bottom-img {
  display: none;
}

.footer-bottom {
  background-color: var(--eerie-black-2);
  padding-block: 20px;
  text-align: center;
}

.copyright {
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  line-height: 1.8;
}

.copyright-link {
  display: inline-block;
  color: var(--marigold);
}

/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 10px;
  right: 15px;
  background-color: var(--marigold);
  padding: 12px;
  z-index: 4;
  transition: var(--transition);
  opacity: 0;
  visibility: hidden;
}

.back-top-btn.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 576px screen
 */

@media (min-width: 576px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .h1 {
    --fs-2: 7rem;
  }

  /**
   * HEADER
   */

  .header-actions {
    gap: 40px;
  }

  .cart-btn {
    display: block;
    position: relative;
    color: var(--white);
    font-size: 20px;
  }

  .cart-badge {
    position: absolute;
    top: -6px;
    right: -10px;
    background-color: var(--marigold);
    color: var(--eerie-black-1);
    font-size: var(--fs-11);
    border-radius: 20px;
    padding: 3px 5px;
    line-height: 1;
    font-weight: var(--fw-800);
  }

  /**
   * SEARCH BOX
   */

  .search-container :is(.search-field, .search-submit) {
    font-size: var(--fs-3);
  }

  /**
   * BRAND
   */

  .brand-item {
    min-width: calc(33.33% - 13.33px);
  }

  /**
   * FEATURED GAME 
   */

  .featured-game .scrollbar-item {
    min-width: 50%;
  }

  /**
   * BLOG
   */

  .blog-list {
    grid-template-columns: 75%;
    justify-content: center;
  }

  /**
   * FOOTER
   */

  .footer-top .container {
    grid-template-columns: 1fr 1fr;
  }

  .footer-brand,
  .footer-wrapper {
    grid-column: 1 / 3;
  }
}

/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }

  .scrollbar-item {
    min-width: calc(50% - 15px);
  }

  /**
   * HERO
   */

  .hero-text {
    max-width: 60ch;
    margin-inline: auto;
  }

  /**
   * BRAND
   */

  .brand-item {
    min-width: calc(25% - 15px);
  }

  /**
   * LIVE MATCH
   */

  .live-match-banner .play-btn {
    font-size: 120px;
  }

  .live-match-player::after {
    font-size: 30rem;
  }

  /**
   * BLOG
   */

  .blog-list {
    grid-template-columns: 1fr 1fr;
  }

  /**
   * NEWSLETTER
   */

  .newsletter :is(.input-wrapper, .newsletter-btn) {
    margin: 0;
  }

  .newsletter .input-wrapper {
    max-width: unset;
    width: 100%;
  }

  .newsletter .h2 {
    --fs-4: 2.6rem;
  }

  .newsletter-form {
    display: flex;
    gap: 10px;
    max-width: 500px;
    width: 100%;
    margin-inline: auto;
  }

  /**
   * FOOTER
   */

  .footer-brand,
  .footer-wrapper {
    grid-column: auto;
  }

  .footer-bottom-img {
    display: block;
  }

  .footer-bottom {
    text-align: left;
  }

  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  /**
   * BACK TO TOP
   */

  .back-top-btn {
    bottom: 50px;
    right: 45px;
  }
}

/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 960px;
  }

  :is(.header, .hero, .live-match) .container {
    max-width: unset;
  }

  .scrollbar-item {
    min-width: calc(33.33% - 20px);
  }

  /**
   * HEADER
   */

  .header-top {
    display: block;
    background-image: url("../images/header-top-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-block: 20px;
  }

  .header-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .countdown-text {
    color: var(--quick-silver);
    font-size: var(--fs-10);
    font-weight: var(--fw-600);
  }

  .countdown-text .span {
    display: inline-block;
    color: var(--xiketic);
    font-size: 1.8rem;
    font-weight: var(--fw-700);
    padding: 10px 20px;
    margin-inline: 5px;
  }

  .header :is(.social-wrapper, .social-list) {
    display: flex;
    align-items: center;
  }

  .header .social-wrapper {
    gap: 15px;
  }

  .header .social-list {
    gap: 10px;
  }

  .social-title {
    color: var(--white);
    font-size: var(--fs-8);
    font-weight: var(--fw-700);
  }

  .header .social-link {
    background-color: var(--jet);
    color: var(--marigold);
    font-size: var(--fs-9);
    padding: 8px 10px;
  }

  .header-bottom {
    outline: 1px solid hsla(0, 0%, 0%, 0.2);
  }

  .header-bottom::before {
    display: block;
    top: 0;
    left: -15px;
    right: auto;
    width: 170px;
    --skewX: 16deg;
  }

  .nav-toggle-btn {
    display: none;
  }

  .navbar,
  .navbar.active {
    all: unset;
    margin-inline: auto 15px;
  }

  .navbar-list {
    display: flex;
  }

  .navbar-item:not(:last-child) {
    border-block-end: none;
  }

  .navbar-link {
    color: var(--white);
    font-size: var(--fs-11);
    text-transform: uppercase;
    font-weight: var(--fw-700);
    padding: 10px 20px;
  }

  .navbar-link::before {
    display: block;
    opacity: 0;
    transition: var(--transition);
  }

  .navbar-link:is(:hover, :focus) {
    background-color: transparent;
    color: var(--xiketic);
  }

  .navbar-link:is(:hover, :focus)::before {
    opacity: 1;
  }

  /**
   * HERO
   */

  .hero {
    text-align: left;
  }

  .hero-banner {
    display: block;
  }

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 0.9fr;
    align-items: center;
    gap: 50px;
  }

  .btn {
    margin-inline: 0;
  }

  /**
   * BRAND
   */

  .brand-item {
    min-width: calc(20% - 16px);
  }

  /**
   * LATEST GAME
   */

  .latest-game .has-scrollbar {
    padding-block-end: 0;
  }

  /**
   * LIVE MATCH
   */

  .live-match-banner {
    max-width: 700px;
    margin-inline: auto;
  }

  .live-match-player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .live-match-detail {
    margin-block: 0;
  }

  /**
   * FEATURED GAME
   */

  .featured-game .scrollbar-item {
    min-width: 33.33%;
  }

  /**
   * BLOG
   */

  .blog-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  /**
   * NEWSLETTER
   */

  .newsletter-form {
    max-width: 650px;
  }

  /**
   * FOOTER
   */

  .footer .container {
    grid-template-columns: 1fr 0.7fr 0.7fr;
    column-gap: 80px;
  }
}

/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * REUSED STYLE
   */

  .container,
  :is(.header, .hero, .live-match) .container {
    max-width: 1230px;
  }

  .h1 {
    --fs-2: 7.5rem;
  }

  .scrollbar-item {
    min-width: calc(25% - 22.5px);
  }

  /**
   * HEADER
   */

  .header-bottom::before {
    width: 270px;
  }

  .navbar-link {
    font-size: var(--fs-9);
    padding-inline: 25px;
  }

  /**
   * HERO
   */

  .hero .container {
    grid-template-columns: 1fr 1fr;
  }

  /**
   * BRAND
   */

  .brand-item {
    min-width: calc(16.66% - 16.66px);
  }

  /**
   * LIVE MATCH
   */

  .section-wrapper::before {
    height: 72%;
  }

  .live-match-banner {
    max-width: max-content;
  }

  .live-match-player::after {
    font-size: 35rem;
  }

  /**
   * FEATURED GAME
   */

  .featured-game .has-scrollbar {
    padding-block-end: 0;
  }

  .featured-game .scrollbar-item {
    min-width: 25%;
  }

  /**
   * SHOP
   */

  .shop .has-scrollbar {
    padding-block-end: 15px;
  }

  /**
   * NEWSLETTER
   */

  .newsletter-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 70px;
  }

  .newsletter .h2 {
    margin-block-end: 0;
  }

  .newsletter-form {
    margin-inline: 0;
  }

  /**
   * FOOTER
   */

  .footer .container {
    grid-template-columns: 1fr 0.7fr 0.7fr 1fr;
  }
}

/*  */

._game_section {
  padding-block: min(20vh, 2rem);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-inline: auto;
  color: white;
  gap: 20px;
}
section h2 {
  text-transform: capitalize;
  letter-spacing: 0.025em;
  font-size: clamp(2rem, 1.8125rem + 0.75vw, 2.6rem);
}
section a {
  display: inline-block;
  text-decoration: none;
}
/* section .container {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
} */

section ._game_section .card ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem;
}
section ._game_section .card ul li {
  text-transform: uppercase;
  background: var(--clr-tag);
  color: #282828;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 0.375rem 0.625rem;
  border-radius: 0.188rem;
}
section ._game_section .card ul .branding {
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
}
section ._game_section .card ul .packaging {
  color: white;
  display: flex;
  gap: 10px;

  align-items: center;
}

section ._game_section .card ul .packaging svg {
  width: 10px;
  height: 10px;
}

section ._game_section .card ul .marketing {
  color: #4d1637;
}
section ._game_section .card .content {
  padding: 0.938rem 0.625rem;
}
section ._game_section .card .content h3 {
  text-transform: capitalize;
  font-size: clamp(1.5rem, 1.3909rem + 0.4364vw, 1.8rem);
}
section ._game_section .card .content p {
  margin: 0.625rem 0 1.25rem;
  color: white;
}
section ._game_section .card-inner {
  position: relative;
  width: inherit;
  height: 18.75rem;
  background: var(--clr);
  border-radius: 1.25rem;
  border-bottom-right-radius: 0;
  overflow: hidden;
}
section ._game_section .card-inner .box {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 1.25rem;
  overflow: hidden;
}
section ._game_section .card-inner .box .imgBox {
  position: absolute;
  inset: 0;
}
section ._game_section .card-inner .box .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section ._game_section .card-inner .box .icon {
  position: absolute;
  bottom: -0.375rem;
  right: -0.375rem;
  width: 6rem;
  height: 6rem;
  background: #1f1a22;
  border-top-left-radius: 50%;
}
section ._game_section .card-inner .box .icon:hover .iconBox {
  transform: scale(1.1);
}
section ._game_section .card-inner .box .icon::before {
  position: absolute;
  content: "";
  bottom: 0.375rem;
  left: -1.25rem;
  background: transparent;
  width: 1.25rem;
  height: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  box-shadow: 0.313rem 0.313rem 0 0.313rem #fff;
}
section ._game_section .card-inner .box .icon::after {
  position: absolute;
  content: "";
  top: -1.25rem;
  right: 0.375rem;
  background: transparent;
  width: 1.25rem;
  height: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  box-shadow: 0.313rem 0.313rem 0 0.313rem var(--clr);
}
section ._game_section .card-inner .box .icon .iconBox {
  position: absolute;
  inset: 0.625rem;
  background: #282828;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
section ._game_section .card-inner .box .icon .iconBox span {
  color: #fff;
  font-size: 1.5rem;
}

.imgBox {
  background-image: url(../images/images.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

section#features {
  margin-top: 8vh;
}

/* spider */

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
}

a {
  color: white;
}
p {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

h4 {
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.8);
}

/* -------------------------navbar-------------------------- */

/* -------------------------navbar end-------------------------- */

.right-main {
  padding: 30px 50px;
  position: relative;
  width: 100%;
}

/* -------------------------main-------------------------- */

main {
  flex: 1;
}

.main-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search > input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  height: 100%;
  width: 90%;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
}

.search > input::placeholder {
  font-weight: 600;
}

.search {
  width: 30%;
  min-width: 300px;
  padding: 1em 1.5em;
  background-color: #313237;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.5);
}

.top {
  width: 20%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.top svg {
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
  position: relative;
  cursor: pointer;
}

.top svg#hamburger {
  display: none;
}

._header {
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background-color: #313237;
  background-image: radial-gradient(
    ellipse at top,
    #3a3c47,
    rgba(0, 0, 0, 0.6)
  );
  position: relative;
  margin-bottom: 30px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5vh;
}

.spiderman-img img {
  max-width: 100%;
}

.tag {
  padding: 0.3em 0.75em;
  background-color: #ff3d3d;
  border-radius: 5px;
  color: white;
  width: max-content;
  margin-bottom: 20px;
}

header h1 {
  color: white;
  margin-bottom: 20px;
  font-size: xx-large;
}

.purchase {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
  width: 200px;
  justify-content: space-between;
}

.purchase h2 {
  color: white;
  padding: 0 10px;
}

.purchase button {
  padding: 1em 2em;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: "Urbanist", sans-serif;
  background-color: #3482e7;
  color: white;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.purchase button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #3482e7;
  filter: blur(10px);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.purchase button:hover::after {
  opacity: 1;
}

.most-played {
  max-width: 100%;
  color: white;
}

.most-played h3 {
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.game-image-container {
  height: 25vh;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
  background-position: center center;
  background-size: cover;
}

/* -------------------------------------main end-------------------------------------------- */

.main-flex {
  display: flex;
  margin-top: 30px;
}

/* -----------------------------------------aside---------------------------------------------- */

/* aside {
  flex: 0.5;
  margin-left: 30px;
} */

aside {
  margin-right: 10vh;
  flex: 0.4;
}

.library {
  clear: right;
  color: white;
  padding: 30px;
  background-image: linear-gradient(to top, #1a1b1f 50%, #313237 90%);
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.library-card {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-logo {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.game-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-details {
  flex: 0.9;
}

.library-card i {
  cursor: pointer;
  flex: 0.1;
  color: rgba(255, 255, 255, 0.5);
}

.fa-check-circle {
  color: #3482e7 !important;
  font-size: 1.1rem;
}

.library hr {
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 70%;
  margin: 20px auto;
}

.offline,
.online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online {
  background-color: rgb(23, 221, 23);
}

.offline {
  background-color: #ff3d3d;
}

.attribution {
  margin-top: 30px;
  color: #1a1b1f;
}

.attribution a {
  text-decoration: none;
  color: inherit;
}

/* ------------------media query--------------------- */

@media (max-width: 1000px) {
  header {
    padding: 30px 20px;
  }
  header h1 {
    width: 70%;
    position: relative;
    z-index: 2;
  }
  .spiderman-img {
    width: 300px;
  }
  .search {
    min-width: 0;
    width: 60%;
    height: 40px;
    padding-left: 17px;
    overflow: hidden;
    cursor: pointer;
    transition: width 0.2s linear;
  }
  .right-main {
    padding: 1rem;
  }
  .search.active {
    width: 50%;
  }
  .top {
    width: auto;
    gap: 0.5rem;
  }
  .main-flex {
    height: 100%;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    overflow: auto;
  }
  .most-played {
    height: 39%;
    overflow: auto;
  }

  .most-played::-webkit-scrollbar {
    display: none;
  }
  .games-card {
    margin-bottom: 20px;
  }

  .main-flex {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  nav {
    display: none;
  }

  .main-flex::-webkit-scrollbar {
    display: none;
  }
  .most-played {
    height: max-content;
  }

  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
  }

  aside {
    position: absolute;
    inset: 0;
    background-color: #1a1b1fbd;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.2s linear;
    pointer-events: none;
  }

  .library {
    bottom: 20px;
    position: absolute;
    right: -50%;
    transition: right 0.2s linear;
  }

  aside.active .library {
    right: 20px;
    pointer-events: all;
    top: 0;
    border-radius: 0;
    width: 100%;
    overflow: hidden;
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }

  aside.active {
    opacity: 1;
  }
  aside.active {
    position: fixed;
    width: 100%;
  }
  .top {
    width: 30%;
    z-index: 4000;
  }
  .top svg#hamburger {
    display: grid;
  }
}

.flex,
.social-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

body {
  background-color: #1a1b1f;
}

.main-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px;
  margin-bottom: 10vh;
  border-radius: 8px;
}

/* 
 */

.spiderman-img img {
  margin-top: -12vh;
}

@media screen and (max-width: 992px) {
  ._game_section.container {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media screen and (max-width: 767px) {
  ._game_section.container {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media screen and (max-width: 484px) {
  ._game_section.container {
    grid-template-columns: 1fr !important;
  }
}
